{% extends  "shared/_MainLayout.html" %}


{% block content %}
<div class="mt-4">
            {% comment %} <h5>API Actions</h5> {% endcomment %}
            <div class="d-flex gap-3 flex-wrap">
                <button class="btn btn-outline-primary" onclick="callApi('/to_neo4j', 'Data successfully transfered to neo4j.')">Move To Neo4j</button>
                {% comment %} <button class="btn btn-success" onclick="callApi('api/action2/', 'Action 2 completed!')">Action 2</button>
                <button class="btn btn-warning" onclick="callApi('api/action3/', 'Action 3 completed!')">Action 3</button>
                {% endcomment %}
            </div> 
        </div>
{% endblock content %}
